mysql_root_password: tagadatsointsoin
mysql_wp_catalina_password: tagadatsointsoin
mysql_wp_california_password: tagadatsointsoin
mysql_wp_deudtens_password: tagadatsointsoin
mysql_wp_maximemoreno_password: tagadatsointsoin
mysql_wp_spacepicturesjam_password: tagadatsointsoin
